<!-- secrets.ejs -->
<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <% usersWithSecrets.forEach(function(user) { %>
        <div class="user-secret-box">
          <% user.secret.forEach(function(secret) { %>
            <div class="secret-text">
              <%= secret %>
            </div>
            <% }); %>
        </div>
        <% }); %>
          <hr>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>

    <script>
      // Function to generate random color
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      // Apply random background color to elements with class "secret-text"
      document.querySelectorAll('.secret-text').forEach(function (element) {
        element.style.backgroundColor = getRandomColor();
      });
    </script>